.button {
    padding: 0.1rem 0.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;



}

.button:hover {
    opacity: 0.8;
}

.button.active {
    background: #3e6ae1;
    color: #fff;
}

.social{
    margin-left: 0.5rem;
}

.social>img{
    width: 18.28px;
    height: 18.28px;
}

.number{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.contacts{
    display: flex;
    justify-content: center;
}