.header_description>ul{
    list-style: none;
    display: flex;
    
}
.header_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    padding-left: 3rem;
}

.auth{
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3rem;
}

.btn-auth>a:hover {
    background-color: #0056b3;
}
