@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-left: 12vw;
  padding-right: 12vw;
}

/* HEADER */
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  padding-left: 12vw;
  padding-right: 12vw;
}

.headerTopBack {
  background-color: #139161
}
.container_header {
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 0.5rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

/* MAIN */
main {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
}


/* FOOTER */